<article class="post">

    <h1 class="post__header">

        <a href="{{ item.link }}" title="Directe link naar {{ item.title }}">

            {{ item.title }}

        </a>

    </h1>

    <div class="post__entry">

        {% if(item.thumbnail) %}

        <a href="{{ item.link }}" title="Directe link naar {{ item.title }}">

            <img src="{{ item.thumbnail.src | resize(100, 100) }}" class="post-thumbnail" alt="{{ item.thumbnail.alt }}">

        </a>

        {% endif %}

        {{ item.get_preview(50, false, "") }}

    </div>

    <div class="post__meta">

        <time datetime="{{ item.date | date('Y-m-d') }}" pubdate="pubdate">

            {{ item.date }}

        </time>

        - <a href="{{ item.edit_link }}" title="">
            Aanpassen
        </a>

        <br>

        {% for category in item.categories %}

            <a href="{{ category.link }}">{{ category }}</a>

            {% if (loop.last == false) %} , {% endif %}

        {% endfor %}

        <br>

        {% for tag in item.tags %}

            <a href="{{ tag.link }}">{{ tag }}</a>

            {% if (loop.last == false) %} , {% endif %}

        {% endfor %}

    </div>

</article>
