<a href="{{ post.link }}" class="product-excerpt lazy" data-bg="{{ post.thumbnail.src('excerpt') }}" title="Direct naar {{ post.title }}">

    {{ fn('timber_set_product', post) }}

    <div class="excerpt">

        {% do action('woocommerce_before_shop_loop_item_title') %}

        <h1 class="product-excerpt__header">

            {% if post.title %}

                {{ post.title }}

            {% else %}

                {{ fn('the_title') }}

            {% endif %}

        </h1>

        {% do action( 'woocommerce_after_shop_loop_item_title' ) %}

    </div>

</a>
