{% extends "base/base.twig" %}

{% block content %}

    <section class="light light-ring">
        <div class="ring">
            <div class="container">
                <h1>Tapbieren</h1>
                <table class="table table-mout">

                    {% for item in post.meta('bieren') %}
                        <tr class="reveal">
                            <td>
                                <span class="beer-name">{{ item.titel }}</span>
                                <span class="beer-quantity">{{ item.cl }}cl</span>
                                <span class="beer-alcohol">{{ item.procent }}%</span>
                            </td>
                            <td>
                                {{ item.brouwer }}
                            </td>
                            <td>
                                {{ item.type }}
                            </td>
                            <td>
                                <span class="beer-price">€ {{ item.prijs }}</span>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
                <div class="download-bierkaart">
                    <p>
                        <a href="https://untp.beer/32752ca6c4" target="_blank">Bekijk hier de bierkaart</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="clean">
        <div class="clearfix">
            <a href="{{ options.url }}" class="left w50 block blue promotion-wrapper">
                <div class="promotion-div reveal">
                    <div class="promotion-bottle">
                        <img src="{{ site.theme.link }}/static/img/bottle.png"/>
                    </div>
                    <div class="promotion-content">
                        <div class="pc-header">
                            Bier<br>
                            van de week
                        </div>
                        <div class="pc-name">
                            {{ options.titel }}
                        </div>
                        <div class="pc-brewer">
                            {{ options.brouwer }}
                        </div>
                        <div class="pc-price">
                            <div class="pc-price-side pc-price-big">
                                {{ options.hele_euros }}
                            </div>
                            <div class="pc-price-side">
                                <div>
                                    ,{{ options.halve_euros }}
                                </div>
                                <div>
                                    EUR
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="left w50 block gray">
                <div class="reserveren-div reveal">
                    <h1>Proefplankjes</h1>
                    <p>
                        <p>Kun je maar moeilijk kiezen uit onze tien taps? Van zondag tot en met donderdag krijg je bij ons voor €8,70 een proefplankje! Vier proefglaasjes, zorgvuldig geselecteerd en toegelicht door ons personeel. Kom langs en maak elke week kennis met onze
                            nieuwste tapbieren.&nbsp;</p>
                    </p>
                    <div class="reserveren-email">
                        <a href="mailto:INFO@PROEFLOKAALMOUT.NL">INFO@PROEFLOKAALMOUT.NL</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
