{% extends "base/base.twig" %}

{% block content %}

    <section class="light">
        <div class="container">
            <a href="/blog" class="button-back">Terug</a>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <br><br>
                    <img src="{{ post.thumbnail.src | resize(700, auto) }}" class="img-responsive">
                    <br><br>
                </div>
            </div>
            <div>
                <div class="blog-date">
                    {{ post.date | date('j F Y') }}
                </div>
                <h3 class="blogtitle">{{ post.title }}</h3>
                <div class="blogtext">
                    {{ post.content | replace({'<iframe': '<div class="video-wrapper"><iframe', '</iframe>': '</iframe></div>', '<table>': '<table class="table">'})}}
                    <p class="special">
                        <img src="{{ Image(post.meta('afbeelding')).src }}">
                    </p>
                    {{ post.meta('content_2') }}
                    <p class="special">
                        <img src="{{ Image(post.meta('afbeelding_2')).src }}">
                    </p>
                    {{ post.meta('content_3') }}
                </div>
                <a href="/blog" class="button-back" style="margin-top: 30px;">Terug</a>
            </div>
            <hr class="brown">
        </div>
    </section>

{% endblock %}
