<!DOCTYPE html>
<html {{ site.language_attributes }}>
    <head>

        {% block head %}

            {{ wp_head }}
            <title>{{ wp_title | default('Template') }}</title>
            <meta charset="{{ site.charset }}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="icon" type="image/png" href="{{ site.theme.link }}/static/img/mout-logo-2.png"/>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
            <link href='//fonts.googleapis.com/css?family=Roboto:700%7CRoboto+Condensed:700%7CMerriweather' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ site.theme.link }}/static/fonts/fonts.css"/>
            <style>
                {{include_critical_css('style.css')}}
            </style>
            <script src="//code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>


        {% endblock head %}

    </head>

    <body>

        {% include 'layout/header.twig' %}

        {% block content %}{% endblock %}

        {% include 'layout/footer.twig' %}

    </body>

</html>
