<header class="header" role="banner">

    <div class="center">

        <div class="col">

            <a href="{{ site.link }}" class="logo" rel="home" title="Terug naar de homepage">

                <svg class="logo__img">
                    <title>
                        {{ site.name }}
                    </title>
                    <use xlink:href="#logo"/>
                </svg>

            </a>

            <p class="cp">

                {{ site.description }}

            </p>

            <nav class="mainmenu" role="navigation">

                <ul class="main-menu">

                    {% for item in menu.get_items %}

                        <li class="nav-main-item {{item.classes | join(' ')}}">

                            <a class="nav-main-link" href="{{item.link}}">{{item.title}}</a>

                            {% if item.get_children %}

                                <ul class="nav-drop">

                                    {% for child in item.get_children %}

                                        <!--
                            <li class="nav-drop-item">

                                <a href="{{child.link}}">{{child.title}}</a>

                            </li>
-->

                                    {% endfor %}

                                </ul>

                            {% endif %}

                        </li>

                    {% endfor %}

                </ul>

            </nav>

        </div>

    </div>

</header>
