{% block content %}

<div class="l-cs">

    <main role="main">

        {% if order == true %}

            {% if status == 'failed' %}

            {% else %}

                <h1 class="main__header">

                    Bedankt voor je bestelling!

                </h1>

                <div class="main__content">

                    <p>We hebben je bestelling ontvangen en hebben een e-mail naar {{ email }} gestuurd met verdere informatie over je bestelling.</p>

                    <div class="l-container">

                        <div class="l-g4">

                            <section class="woocommerce-order-overview">

                                <h2 class="woocommerce-order-overview__title">
                                    Informatie over je bestelling
                                </h2>

                                <table cellspacing="0">

                                    <tr>

                                        <td>
                                            Bestelnummer:
                                        </td>
                                        <td>
                                            {{ ordernumber }}
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>
                                            Datum:
                                        </td>
                                        <td>
                                            {{ date }}
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>
                                            E-mail:
                                        </td>
                                        <td>
                                            {{ email }}
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>
                                            Totaal:
                                        </td>
                                        <td>
                                            {{ total }}
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>
                                            Betaalmethode:
                                        </td>
                                        <td>
                                            {{ payment_method_title }}
                                        </td>

                                    </tr>

                                </table>

                            </section>

                            {% do action( 'woocommerce_thankyou_' . payment_method, order_id ) %}
                    		{% do action( 'woocommerce_thankyou', order_id ) %}

                        </div>

                    </div>

                </div>

            {% else %}

                <h1 class="main__header">

                    Er ging iets mis

                </h1>

                <div class="main__content">

                    <p>Er ging iets mis het betalen van je bestelling. Probeer het nog eens.</p>

                    <p>

                        <a href="{{ payment_url }}" title="Opnieuw proberen te betalen" class="btn btn--primary">
                            Opnieuw betalen
                        </a>

                    </p>

                </div>

            {% endif %}

        {% else %}

            <h1 class="main__header">

                Bedankt voor je bestelling!

            </h1>

            <div class="main__content">

                <p>We hebben je bestelling ontvangen.</p>

            </div>

        {% endif %}

    </main>

</div>

{% endblock %}
